*{
    padding: 0;
    margin: 0;

}
.container{
    max-width: 90%;
    margin: 50px auto 0;

}
.container .m-block{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .m-block .image{
     flex: 0 0 auto;
     width: 400px;
     overflow: hidden;
     border-radius: 5px;
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
     line-height: 0;
}
.container .m-block .image img{
    width: 100%;
    transition: .3s;
    transform: scale(1);
}
.container .m-block .image:hover img
{
    transform: scale(1.05);
}
.container .m-block .content{
    flex: 0 0 auto;
    width: calc(100% - 400px);
    box-sizing: border-box;
    align-self: center;

}
.container .m-block .content h5{
    font-weight: 700;
    font-size: 22px;
    color: blue;
    margin-bottom: 10px;
}
.container .m-block .content p{
    font-size: 15px;
}
@media screen and (min-width: 1024px) {
    .container .m-block:nth-child(odd) .image{
        order: 1;
    }
    .container .m-block:nth-child(even) .image{
        order: 2;
    }
    .container .m-block:nth-child(odd) .content{
        order: 2;
        padding-left: 30px;
    }
    .container .m-block:nth-child(even) .content{
        order: 1;
        padding-right: 30px;
    }
}